/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section-1 {
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
#Hero-Section-2 {
  background-image: url("../img/proyectos.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 350px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}
h2 {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
